.item-details-container{
    display: grid;
    grid-template-areas: 'image-main title'
    'image-main price'
    'image-main size'
    'image-sec image-sec';
    grid-template-rows: 150px 300px 200px 150px;
    justify-content: center;
    text-align: start;
}
.item-title-details{
    grid-area: title;
    font-size: 50px;
    margin: auto;
    border-bottom: 0.5px solid #808080;
}
.item-image-details-main {
    margin: auto 10px;
    grid-area: image-main;
    width: 600px;
    height: 600px;
}
.item-container-price {
    grid-area: price;
}
.item-details-price {
    font-size: 30px;
    margin: 0;
}
.item-details-size{
    font-size: 20px;
}
.item-details-count{
    font-size: 20px;
}
.item-size {
    grid-area: size;
    width: min-content
}
.item-size h4 {
    border-bottom: 0.5px solid #000000;
    font-size: 20px; 
    text-align: start;
}
.item-image-detail-secondary {
    grid-area: image-sec;
}
.item-image-detail-secondary img{
    width: 100px;
    margin: 0 10px;
}
.option {
    display: grid;
}
.link {
    text-decoration: none;
}