.item-count-container {
    display: grid;
    grid-template-columns: auto auto;
}
.item-count {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0;
}
.item-count .button-count {
    color: black;
    background-color: #cccccc;
    font-size: 20px;
    padding: 0;
}
.count {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
.item-count-container .add-item {
    background-color: #3282b8;
    color: #000000;
    border: 1px solid #000000;
    margin: 0 10px;
    font-size: 20px;
    padding: 0;
}