div .css-i4bv87-MuiSvgIcon-root {
    width: 1.6em;
    height: 1.6em;
    margin: 1.6em;
}
.cart-container{
    width: 450px;
}
.cart-container-item{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 3px;
}
.cart-details{
    font-size: 18px;
}
.cart-image{
    width: 100px;
    height: 100px;
}
.cart-button-delete{
    width: 50px;
    height: 50px;
    margin: auto 0;
}
div .css-i4bv87-MuiSvgIcon-root{
    margin: auto;
}