.navbar {
    background-color: #0b1d33e6;
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
    position: static;
}
.logo {
    width: 150px;
    margin: 0.5em 1em;

}
ul {
    display: flex;
    list-style:none;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
}
.button-navbar {
    background-color: inherit;
    border: none;
}
.link-navbar {
    color: #ffffff;
    text-decoration: none;
    font-size: 3rem;
}